:root{
    --aliceblue: rgb(240, 240, 240);
    --white: white;
    --black: black;
    --lightGray:rgb(121, 119, 162);
    --bordercolor:rgb(207, 206, 206);
    --darkGray:rgb(160, 160, 160);
    --lightBlack:rgb(56, 53, 53);
    --fonts: 'Inter', sans-serif;
    --mainColor:rgb(107, 51, 211);
}